@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 4. Import the rest of Bulma

$body-background-color: #282a36;

$box-padding: 0.25rem;
$box-background-color: #A9B7C6;

@import "../node_modules/bulma/bulma";

.doug-image {
	max-width:300px;
	max-height:400px;
	margin-left: auto;
    margin-right: auto;
}

.about-me {
	font-size: 24px;
}